Header {
    background-color: rgb(5, 184, 5);
    height: auto;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: white;
    top: 0;
    padding:15px;
    min-width:100%;
}
footer {
    background-color: rgb(5, 184, 5);
    height: 100px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    color: white;
    padding:15px;
    min-width:100%;
}
body {
    background-color: rgb(14, 94, 14);
    color: white;
}
img {
    background-color: white;
}
