Header {
    background-color: rgb(5, 110, 5);
    height: 100px;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: white;
}
footer {
    background-color: rgb(5, 110, 5);
    height: 100px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}